@charset "utf-8";

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Noto Sans CJK JP", sans-serif;
    color: #dc6968;
    background-color: #f2ead4;
}

.padding{
    padding: 80px 0;
}

.innner{
    width: 940px;
    margin: 0 auto;
}


/*.title*/
.title40{
    margin-bottom: 40px;
}

.title60{
    margin-bottom: 60px;
}


/*#header*/
#header{
    position: absolute;
    width: 100%;
    height: 100px; 
    text-align: center;
    background: rgba(220,105,104,.62);
}

.global-nav{
    display: inline-block;
    position: relative;
    top:40px; 
}

.global-nav ul{
    list-style-type: none;
    overflow: hidden;
}

.global-nav li{
    float: left;
    margin-right: 50px;
}

.global-nav li:last-child{
    margin-right: 0;
}

.global-nav a{ 
    text-indent: -9999em;
}

.nav-top{
    display: block;
    width: 55px;
    height: 15px;
    background: url(../img/nav_header_05.png) no-repeat center center;
}

.nav-about{
    display: block;
    width: 93px;
    height: 15px;
    background: url(../img/nav_header_01.png) no-repeat center center;
}

.nav-event{
    display: block;
    width: 92px;
    height: 15px;
    background: url(../img/nav_header_02.png) no-repeat center center;
}

.nav-gallery{
    display: block;
    width: 130px;
    height: 15px;
    background: url(../img/nav_header_03.png) no-repeat center center;
}

.nav-access{
    display: block;
    width: 113px;
    height: 15px;
    background: url(../img/nav_header_04.png) no-repeat center center;
}


/*#mv*/
#mv{
    height: 900px;
    text-align: center;
    background: url(../img/bg_mv.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;    
}

.mv-logo{
    display: inline-block;
    position: relative;
    top: 341px;
}


/*#top-about*/
#top-about{
    background-color: #ffdbd5;
    overflow: hidden;
}

.title2{
    margin-bottom: 20px;
}

.img-about{
    float: right;
    padding-top: 25px;
}

.txt-about1{
    width: 478px;
    margin-bottom: 40px;
}

.txt-about2{
    margin-bottom: 5px;
}


/*#top-event*/
#top-event{
    text-align: center;
}

.title3{
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
}

.fz16{
    font-size: 16px;
}

.term{
    font-size: 18px;
}

.content-event{
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 60px;
}

.content-event li{
    width: 300px;
    height: 280px;
    color: #f2ead4;
    background-color: #dc6968;
    float: left;
    margin-right: 20px;
}

.content-event li:last-child{
    margin-right: 0;
}

.btn{
    display: inline-block;
    color: #dc6968;
    border: 2px solid #dc6968;
    border-radius: 5px;
    text-decoration: none;
    padding: 12px 93px;
}


/*#top-gallery*/
#top-gallery{
    text-align: center;
    background-color: #ffdbd5;
}

.img-gallery{
    list-style-type: none;
    overflow: hidden;
}

.img-gallery li{
    font-size: 0;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.img-gallery li:nth-child(4n){
    margin-right: 0;
}


/*#top-access*/
#top-access{
    overflow: hidden;
}

.img-access{
    float: left;
    margin: 0 0 40px 60px;
}

.adress{
    padding-top: 52px;
    margin-left: 642px;
}

.access{
    clear: both;
    margin-left: 60px;
}


/*#footer*/
#footer{
    text-align: center;
    background-color: #a6393e;
}

.logo-footer{
    margin-bottom: 40px;
}

.footer-nav{
    font-size: 0;
    margin-bottom: 40px;
}

.footer-nav ul{
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
}

.footer-nav li{
    float: left;
    margin-right: 50px;
}

.footer-nav li:last-child{
    margin-right: 0;
}

.footer-nav a{ 
    text-indent: -9999em;
}

.fnav-top{
    display: block;
    width: 44px;
    height: 12px;
    background: url(../img/nav_footer_01.png) no-repeat center center;
}

.fnav-about{
    display: block;
    width: 74px;
    height: 12px;
    background: url(../img/nav_footer_02.png) no-repeat center center;
}

.fnav-event{
    display: block;
    width: 73px;
    height: 12px;
    background: url(../img/nav_footer_03.png) no-repeat center center;
}

.fnav-gallery{
    display: block;
    width: 103px;
    height: 12px;
    background: url(../img/nav_footer_04.png) no-repeat center center;
}

.fnav-access{
    display: block;
    width: 90px;
    height: 12px;
    background: url(../img/nav_footer_05.png) no-repeat center center;
}

.sns-nav{
    display: inline-block;
    font-size: 0;
    margin-bottom: 40px;    
}

.sns-nav li{
    float: left;
    margin: 0 22px;
}

.copyright{
    color: #ffdbd5;
}
