@charset "utf-8";

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Noto Sans CJK JP", sans-serif;
    color: #dc6968;
    background-color: #f2ead4;
}

/*#header*/
#header{
    position: absolute;
    width: 100%;
    height: 100px; 
    text-align: center;
    background: rgba(220,105,104,.62);
}

.global-nav{
    display: inline-block;
    position: relative;
    top:40px; 
}

.global-nav ul{
    list-style-type: none;
    overflow: hidden;
}

.global-nav li{
    float: left;
    margin-right: 50px;
}

.global-nav li:last-child{
    margin-right: 0;
}

.global-nav a{ 
    text-indent: -9999em;
}

.nav-top{
    display: block;
    width: 55px;
    height: 15px;
    background: url(../img/nav_header_05.png) no-repeat center center;
}

.nav-about{
    display: block;
    width: 93px;
    height: 15px;
    background: url(../img/nav_header_01.png) no-repeat center center;
}

.nav-event{
    display: block;
    width: 92px;
    height: 15px;
    background: url(../img/nav_header_02.png) no-repeat center center;
}

.nav-gallery{
    display: block;
    width: 130px;
    height: 15px;
    background: url(../img/nav_header_03.png) no-repeat center center;
}

.nav-access{
    display: block;
    width: 113px;
    height: 15px;
    background: url(../img/nav_header_04.png) no-repeat center center;
}


/*#mv*/
#mv{
    height: 900px;
    text-align: center;
    background: url(../img/bg_mv.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;    
}

.mv-logo{
    display: inline-block;
    position: relative;
    top: 341px;
}